{% extends 'base.html' %}
{% load static %}
{% block title %}book_detail.html{% endblock %}

{% block extra-style %}
    <style type="text/css">
        a:hover {
            text-decoration: none;
        }
        .jumbotron {
            padding: 2rem;
        }
        label {
            color: gray;
        }
        .img-col {
            max-width: 100px;
        }
        .my-col {
            margin-right: 20px;
        }
        .form-control{
            border: 1px solid black;
        }
    </style>
{% endblock %}

{% block content %}
    <h4>
        <a class="text-success" href="{% url 'mypage:index' %}" data-toggle="tooltip" data-placement="bottom" title="전체 도서" style="color: black">⬅︎</a>&nbsp;&nbsp;
        상세정보
    </h4>
    <hr>
    <div class="jumbotron">
        <div class="row no-gutters">
            <div class="col img-col">
                <img src="{{ object.image }}" alt="image" class="img-thumbnail">
            </div>
            <div class="col">
                <div class="card-body">
                    <h4 class="card-title">{{ object.title }}</h4>
                    <p class="card-text">{{ object.author }}</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row no-gutters">
            <div class="col my-col">
                <label for="publisher">출판사</label>
                <input type="text" class="form-control" id="publisher" value="{{ object.publisher }}" readonly>
            </div>
            <div class="col my-col">
                <label for="pubdate">출판일</label>
                <input type="text" class="form-control" id="pubdate" value="{{ object.pubdate }}" readonly>
            </div>
        </div>
        <br>
        <div class="row no-gutters">
            <div class="col my-col">
                <label for="isbn">ISBN</label>
                <input type="text" class="form-control" id="isbn" value="{{ object.isbn }}" readonly>
            </div>
            <div class="col my-col">
                <label for="price">정가</label>
                <input type="text" class="form-control" id="price" value="{{ object.price }}원" readonly>
            </div>
        </div>
        <br>
        <div class="row no-gutters">
            <div class="col my-col">
                <label for="description">설명</label>
                <textarea class="form-control" id="description" rows="3" readonly>{{ object.description }}</textarea>
            </div>
        </div>
    </div>
{% endblock %}